[submodule "donut"]
	path = donut
	url = https://github.com/NVIDIAGameWorks/donut.git
[submodule "NRD"]
	path = NRD
	url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser.git
[submodule "DLSS"]
	path = DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "rtxdi-runtime"]
	path = rtxdi-runtime
	url = https://github.com/NVIDIAGameWorks/rtxdi-runtime.git
[submodule "rtxdi-assets"]
	path = rtxdi-assets
	url = https://github.com/NVIDIAGameWorks/rtxdi-assets.git
[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
